<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="height:10vh;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"  style="font-family: 'Gothic A1';opacity:0.6;">Home</a>
      <a class="navbar-brand"  style="font-family: 'Gothic A1';opacity:0.6;">Tv Show</a>
      <a class="navbar-brand"  style="font-family: 'Gothic A1';opacity:0.6;">Movies</a>
      <a class="navbar-brand"  style="font-family: 'Gothic A1';opacity:0.6;">Originals</a>
      <a class="navbar-brand"  style="font-family: 'Gothic A1';opacity:0.6;">Recently Added</a>
      <a class="navbar-brand"  style="font-family: 'Gothic A1';opacity:0.6;">My List</a>
    </div>
  </div>

  <div class="col-sm-4 col-md-4 navbar-right">


</div>
</nav>
</body>
</html>
